<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Surname:</b>
  <%=h @person.surname %>
</p>

<p>
  <b>Residence:</b>
  <%=h @person.residence %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
